@import "tailwindcss";
.a1{
  border-width: 4px;
  border-color: red;
  border-color: red;
  background: #fa07070e;
}/* ===== Global Scrollbar (Slate-700 style) ===== */

:root {
  --scrollbar-thumb: #334155;        /* slate-700 */
  --scrollbar-thumb-hover: #1e293b;  /* slate-800 */
  --scrollbar-track: #f8fafc;        /* slate-50 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
  border: 2px solid var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
